
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock List</title>
    </head>
        <body>
        <h1>🇹🇿 Tanzania Pizzeria Database 🇹🇿</h1>

        <p>Below are links to the tables in the database</p>

        <ul>
            <li><a href="./patrons">See and modify the list of Patrons</a></li>
            <li><a href="./orders">See and modify the list of Orders</a></li>
            <li><a href="./restaurants">See and modify the list of Restaurants</a></li>
            <li><a href="./employees">See and modify the list of Employees</a></li>
            <li><a href="./items">See and modify the list of Items</a></li>
            <li><a href="./roles">See and modify the list of Roles</a></li>
            <li><a href="./ordersWithItems">See and modify the list of Items in an Order</a></li>
            <li><a href="./restaurantsWithEmployees">See and modify the list of Employees for a Restaurant</a></li>
        </ul>
    </body>
</html>