body {
    /* tanzania flag colors */
    color: #00A3DD;
    margin: 1em;
}

.pure-form button {
    background-color: #00A3DD;
}

a {
    color: #1EB53A;
}

a:active {
    filter: brightness(0.85);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}

    input {
        background-color: #4d5055;
        color: white;
    }

    select {
        background-color: #4d5055;
        color: white;
    }

    button {
        background-color: #4d5055;
        color: white;
    }
    
    .pure-form select {
        background-color: #4d5055;
        color: white;
    }
}