body {
    /* tanzania flag colors */
    color: #00A3DD;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #f5f5f5;
	}

    input {
        background-color: #f5f5f5;
        color: black;
    }

    select {
        background-color: #f5f5f5;
        color: black;
    }

    button {
        background-color: #f5f5f5;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
	}

    input {
        background-color: #4d5055;
        color: white;
    }

    select {
        background-color: #4d5055;
        color: white;
    }

    button {
        background-color: #4d5055;
        color: white;
    }
}